<form method="POST" action="/update/{{ post_update.id }}" enctype="multipart/form-data">
    <div class="form-group">

    {{ form.hidden_tag() }}
    <div class="form-group">
        
        <fieldset id="Object Title">
            {{  form.title.label }}
            {{  form.title(class = 'form-control', value = post_update.title) }}
        </fieldset>

        <fieldset id="Description">
            {{  form.description.label }}
            {{  form.description(class = 'form-control', value = post_update.description) }}
        </fieldset>
        
        <fieldset id="Dimensions">
            {{  form.dimensions.label }}
            {{  form.dimensions(class = 'form-control', value = post_update.dimensions) }}
        </fieldset>
        
        <fieldset id="Weight">
            {{  form.weight.label }}
            {{  form.weight(class = 'form-control', value = post_update.weight) }}
        </fieldset>
        
        <fieldset id="Price">
            {{  form.price.label }}
            {{  form.price(class = 'form-control', value = post_update.price) }}
        </fieldset>
        
        <!-- <label>Select a 3D model preview image (.png or .jpg)</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">

        </div>

        <label>3D model scan file (.obj or .stl)</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="model" id="model">

        </div> -->

        
        {{ form.submit_button(class = 'btn btn-dark btn-block')  }}
        
    </div>
</form>

