{% extends 'base.html' %}
{% block content %}
<!-- <container class="hero">
</container> -->

<div class="hero">


<div class="container">
    <!--Header Section-->
    <header class="row landing-info">
        <!-- <div class="col-12" id="header-text"></div> -->
            <h2>A platform to help bridge the gap between <br>"Design Vision" and "Finished Product" <br> for exterior construction projects</h2>
            
            <br>
            <hr>
            <h5>Test out REAL materials from vendors in <br>your project 3D environment BEFORE you buy.</h5>
            
            <div class="col-12" id="middle-text">
                <!-- <h2>Check out the Inventory!</h2> -->
                <!-- <p>View available items and download 3D models of inventory for purchase to test out in your design</p> -->
                <div class="index-btns">
                    <button class="btn btn-outline-light" onclick="location.href='//www.asla.org/2019awards/629964-Artful_Technology_Methods_For_Communicating_Non_Standard.html'">Why AvalanchR</button>
                    <button class="btn btn-light" onclick="document.location='/inventory'">View Inventory</button>
                </div>   
            </div>
            
            
            
            <hr>
            <h6>Real Materials | Authorized Sellers | Free 3D models</h6>
            <!-- <div>
                <button class="btn btn-dark">Button 1</button>
                <button class="btn btn-dark">Button 2</button>
            </div> -->
        

    <!--Header Image-->
        <!-- <div class="col-12 col-md-6">
            <img class="header-image" src="https://via.placeholder.com/200" alt="intro image">
        </div>-->
    </header> 

    <!--End of Header Section-->

    <!--Start Middle Section-->
    <section class="row">
        

    </section>
    <!--End of Middle Section-->

    <!--Footer-->
    <footer class="row" id="footer">
    </footer>
</div>

<!-- Landing info -->

<!-- Hero img end -->
</div>
{% endblock content %}