{% extends 'base.html' %}

{% block content %}

<header class="hero-section">  
    <br>  
    <h5>Welcome {{ current_user.email }}!</h5>
    <br>
</header>

<div class="container">
    <h4>Your profile details</h4>
    <li class="list-group-item"><b>Email / User Account:</b> {{ current_user.email }}</li>
    <li class="list-group-item"><b>API Token:</b> {{ current_user.token }}</li>
</div>
<br>

    <h4 style="text-align: center;" class="md-3">Items you currently have posted for sale:</h4>
    <div class="card-group-user">

        {% for post in user_posts %}
        <div class="card">

            <img class="card-img-top" src="{{ post.img_url }}">
                
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.description }}</p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Dimensions:</b> {{ post.dimensions }}</li>
                <li class="list-group-item"><b>Weight:</b> {{ post.weight }}</li>
                <li class="list-group-item"><b>Price:</b> ${{ post.price }}</li>
            </ul>

            <div class="card-body card-links">
                <!-- <a href="{{ post.model_url }}" class="card-link">Download</a> -->
                <!-- <a href="#" class="card-link">Buy</a>  -->
                <a href="{{ url_for('auth.update_post', id=post.id)}}" class="card-link" id="update">Update</a>
                <a href="{{ url_for('auth.delete_post', id=post.id)}}" class="card-link" id="delete">Delete</a>
            
                <!-- Get this flash to work -->
            </div>
        </div>
        {% endfor %}

</div>
{% endblock content %}